#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-image: url(./assets/Movies_4_Us_Background.png);
}

/* Header */
.navbar {
    background-color: rgba(70, 112, 16, 0.7);
    border: 1px solid #2a4c09;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.3);
    color: #f7e135;
}

.navbar_Brand {
    font-family: 'monaco', monospace;
    color: #f7e135;
}

.navbar_Link {
    font-family: 'monaco', monospace;
    color: #f7e135;
}

/* Movie Carousel */
.movieCarousel {
    margin: 1rem;
}

/* Home Page */
.homePage {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid #2a4c09;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.3);
}

/* Movie Page */
.moviesPage {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid #2a4c09;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.3);
}

.movieCard_Holder {
    display: contents flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.movieCard {
    background-color: rgba(70, 112, 16, 0.7);
    border: 1px solid #2a4c09;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.3);
    width: 18rem;
    margin: 1rem;
    padding: 2rem;
    display: inline-block;
}

.movieCard_Img {
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.3);
}

.movieCard_Card {
    background-color: #2a4c09;
    color: #f7e135;
}

/* Movie Display */
.movieDisplay {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid #2a4c09;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.3);
}

.movieContainer {
    /* backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px); */
    margin-top: 1rem;
    /* border: 1px solid #2a4c09;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.3); */
}

.movieReviews {
    margin-top: 1rem;
    padding: 25px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.3);
    display: contents flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(70, 112, 16, 0.7);
    border: 1px solid #2a4c09;
    border-radius: 5px;
    color: #f7e135;
}

.movieContainer_Review {
    padding: 1rem;
    background-color: rgba(70, 112, 16, 0.7);
    border: 1px solid #2a4c09;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.3);
    color: #f7e135;
}

.movieReviews_h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid #f7e135;
}

.movieContainer_Link {
    color: #f7e135;
}

.movieReview_Link {
    color: #f7e135;
}

.movieReviews_Review {
    display: inline-block;
    padding: 1rem;
    background-color: rgba(70, 112, 16, 0.7);
    border: 1px solid #2a4c09;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.3);
    color: #f7e135;
    margin: 1rem;
    
}

/* MovieReviewForm */
.movieReviewForm {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid#2a4c09;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.3);

}

.reviewForm {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    margin-top: 1rem;
    border: 1px solid #2a4c09;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.3);
    color: #f7e135;
    text-shadow: 2px 2px 5px #2a4c09;
    margin-bottom: 1rem;
    background-color: rgba(70, 112, 16, 0.7);
    
}

.reviewForm_Holder {
    padding: 1rem;
    background-color: rgba(70, 112, 16, 0.7);
    border: 1px solid #2a4c09;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.3);
    color: #f7e135;
}

.reviewForm_Label {
    margin-top: 1rem;
}

.reviewForm_Control {
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.3);
    color: #2a4c09;
    background-color: #e0f19c;
}

.deleteButton {
    margin-top: 1rem;
    color: aliceblue;
    background-color:rgba(188, 45, 0, 0.95); 
}

.errors {
    margin-top: 5px;
    color: aliceblue;
    background-color:rgba(188, 45, 0, 0.95); 
    border-radius: 5px;

}
